.aside {
	margin: 0 10px;

	@media @large-or-more {
		.box-sizing(border-box);
		padding: 0 0 0 20px;
		display: block;
		width: 25%;
		max-width: 240px;
		float: right;
		clear: right;
		margin: 40px 0 0 0;
	}
}