.form-search {
	max-width: 70%;
	position: relative;
	float: right;
	margin: 0.7em 10px 0;
	background-color: @white;

	@media @medium-or-more {
		margin-top: 0.8em;
	}

	@media @large-or-more {
		margin-right: 20px;
	}

	input[type="search"] {
		display: block;
		width: 10em;
		float: left;
		margin: 0;
		border: 0;
		padding: 4px 0;
		background-color: transparent;
		color: @darkestBlue;
		font-size: 0.9em;
		line-height: 1.5;
	}
}

fieldset {
	padding-left: 10px;
	background-color: @lightestBlue;
	overflow: hidden;
}

form {
	.error {
		padding-bottom: 0;
	}

	.message.error {
		padding-bottom: 5px;
	}
}