input[type="text"],
input[type="password"],
input[type="email"],
// Etcetera
input[type="search"] {
    // Default styles
}

input[type="search"] {
    display: block;
    width: 10em;
    float: left;
    margin: 0;
    border: 0;
    padding: 4px 0;
    background-color: transparent;
    color: @darkestBlue;
    font-size: 0.9em;
    line-height: 1.5;
}