/* ------------------------------------------------
   VARIABLES
   ----------------------------------------------- */
/*1*//* -----------------------------------------------
   Restart
   -----------------------------------------------*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ul,
ol,
li,
table,
tr,
th,
td,
form,
fieldset,
legend,
button,
div,
object,
img {
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.8;
  text-align: left;
  vertical-align: top;
}
input,
select,
textarea,
button {
  padding: 0.4em 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.8;
  background-color: #ffffff;
}
/*2*//* -----------------------------------------------
   MAIN TYPOGRAPHY
   -----------------------------------------------*/
html {
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  /* Stops Mobile Safari from auto-adjusting font-sizes */

}
h1 {
  margin-bottom: 1em;
  padding-bottom: 1px;
  font: bold 1.5em/1.2 Arial, HelveticaNeue, Helvetica, Univers, sans-serif;
}
h2 {
  margin: 2em 0 0.2em;
  font: bold 1.25em/1.5 Arial, HelveticaNeue, Helvetica, Univers, sans-serif;
}
p {
  margin-bottom: 1.2em;
  line-height: 1.8;
}
pre {
  overflow: auto;
}
em {
  font-style: normal;
}
sub,
sup {
  font-size: 0.83333em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/*7*//* -----------------------------------------------
    MAIN LAYOUT
   -----------------------------------------------*/
body {
  border-top: 3px solid #4e4e4e;
  background-color: #f3f5f6;
}
#centerbox,
#site-message {
  margin: 0 auto;
  max-width: 980px;
}
#mainbox {
  position: relative;
  padding-bottom: 60px;
  border-bottom: 3px solid #4e4e4e;
  background-color: #ffffff;
}
#header {
  position: relative;
  padding-top: 76px;
  overflow: hidden;
}
#navigation {
  clear: left;
  margin: 40px 10px 20px 10px;
}
#main {
  clear: both;
  border-top: 10px solid #e5f0f9;
}
#main:after {
  content: " ";
  height: 0;
  line-height: 0;
  visibility: hidden;
  display: block;
  clear: left;
}
.leaderboard {
  margin: 20px 0 0;
  padding: 0 10px;
}
#aside {
  margin: 0 10px;
}
/*8*//* -----------------------------------------------
  LOGOTYPE AND PAY-OFF
   -----------------------------------------------*/
#logotype {
  position: absolute;
  left: 50%;
  top: -11px;
  margin-left: -22px;
}
/*9*//* -----------------------------------------------
    SEARCH
   -----------------------------------------------*/
#search {
  height: 3.1em;
  background-color: #01689b;
}
#search form {
  max-width: 70%;
  position: relative;
  float: right;
  margin: 0.7em 10px 0;
  background-color: #ffffff;
}
#search p {
  margin: 0;
}
#search input {
  display: block;
  width: 10em;
  float: left;
  margin: 0;
  border: 0;
  padding: 4px 0;
  background-color: transparent;
  color: #111122;
  font-size: 0.9em;
  line-height: 1.5;
}
#search input[type=submit] {
  width: auto;
  padding: 4px 4px 4px 18px;
  background: #cce0f1 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAAxQTFRFAWibmcPXOImx////cMSuLgAAAAR0Uk5T////AEAqqfQAAABB SURBVHjabI5JDgAwCAKx/P/PtaBdknIwGRcQZCAVXAIHpCEK9V3ZS4km+uRL9+br0gmedbqwPMrv ELH968spwABl+gExsfnwvAAAAABJRU5ErkJggg==") no-repeat 6px 50%;
  color: #154273;
  font-weight: normal;
  cursor: pointer;
}
/*10*//* -----------------------------------------------
    SKIP TO MENU
   -----------------------------------------------*/
#skip-to-menu,
#skip-to-menu:visited {
  display: block;
  float: left;
  position: absolute;
  top: 76px;
  left: 10px;
  margin-top: 0.7em;
  padding: 0.25em 4px 0.25em 18px;
  text-decoration: none;
  background: #cce0f1 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAWib////rYYWUQAAAAJ0Uk5T/wDltzBKAAAAFUlEQVR42mJgwAoY4QCZSbFagAADAAkGACkXnxklAAAAAElFTkSuQmCC") no-repeat 6px 50%;
  color: #154273;
  font-size: 0.9em;
  line-height: 1.5;
  text-transform: capitalize;
  text-indent: 0;
}
#search input[type=submit]:active,
#skip-to-menu:active {
  background-color: #ffffff;
}
/*11*//* -----------------------------------------------
    MAIN NAVIGATION
   -----------------------------------------------*/
#navigation ul:after {
  content: " ";
  height: 0;
  line-height: 0;
  visibility: hidden;
  display: block;
  clear: left;
}
#navigation ul {
  background-color: #e5f0f9;
}
#navigation li {
  margin: 0 0 2px -10px;
}
#navigation a,
#navigation a:visited {
  display: block;
  padding: 0.4em 10px 0.4em 20px;
  font-family: arial, helvetica, sans-serif;
  font-size: 1.1em;
  text-decoration: none;
  color: #154273;
}
#navigation a:hover,
#navigation a:active,
#navigation .selected a {
  color: #0162cd;
}
#navigation .selected a {
  color: #000000;
  font-weight: bold;
}
/*13*//* -----------------------------------------------
    FOOTER NAVIGATION
   -----------------------------------------------*/
#footer {
  background-color: #eaebee;
  padding-bottom: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
#footer:after {
  content: " ";
  height: 0;
  line-height: 0;
  visibility: hidden;
  display: block;
  clear: left;
}
#footer:before {
  content: " ";
  display: block;
  width: 44px;
  height: 22px;
  position: absolute;
  top: -25px;
  left: 50%;
  z-index: 100;
  margin-left: -22px;
  background-color: #154273;
}
#footer h2 {
  margin: 0;
  padding: 1.44em 10px 0.5em;
  color: #4e4e4e;
  font-weight: normal;
  font-size: 1.25em;
  border-bottom: 1px solid #cccccc;
}
#footer ul {
  padding: 0 10px;
}
#footer ul li {
  display: block;
  float: left;
  margin: 0 20px 0 0;
  padding: 0;
}
#footer a,
#footer a:visited {
  display: block;
  padding: 0.2em 0 0.6em;
  color: #4e4e4e;
  font-size: 0.9167em;
  text-decoration: none;
}
#footer a:focus,
#footer a:hover {
  text-decoration: underline;
}
#footer .column {
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;
  display: block;
}
/*14*//* -----------------------------------------------
    PAGE HEADER AND DECORATIVE TOPIC IMAGE
   -----------------------------------------------*/
.header {
  background: #e5f0f9;
  padding: 5px 10px 0;
}
.header:after {
  content: " ";
  height: 0;
  line-height: 0;
  visibility: hidden;
  display: block;
  clear: left;
}
.topic-link {
  display: block;
  float: left;
  padding: 0.2em 0 0.6em;
  font: normal 1.833em/1.2 Arial, HelveticaNeue, Helvetica, Univers, sans-serif;
  text-decoration: none;
  color: #154273;
}
.topic-link:hover,
.topic-link:active {
  text-decoration: none;
}
.topic-link:hover span,
.topic-link:active span {
  color: #0162cd;
  text-decoration: underline;
}
.topic-link em {
  display: block;
  color: #4e4e4e;
  font-size: 0.818em;
  line-height: 1.8;
}
/*15*//* -----------------------------------------------
    TABBED SUBNAVIGATION
   -----------------------------------------------*/
.tabs {
  clear: left;
}
.tabs li {
  border-top: 1px solid #cce0f1;
}
.tabs a {
  display: block;
  padding: 0.4em 0;
  color: #154273;
  text-decoration: none;
  font-family: Arial, HelveticaNeue, Helvetica, sans-serif;
  font-size: 1.1em;
}
.tabs a:visited {
  color: #154273;
}
.tabs a:focus,
.tabs a:hover {
  color: #0162cd;
  text-decoration: underline;
}
.tabs .selected a {
  color: #000000;
  font-weight: bold;
}
/*16*//* -----------------------------------------------
    BREADCRUMB
   -----------------------------------------------*/
#breadcrumb {
  margin: 0 0 0.4em;
  font-size: 0.9167em;
}
#breadcrumb a {
  color: #154273;
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
  padding: 0;
  background: none;
}
#breadcrumb a + a {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHCAMAAAAYuxziAAAABlBMVEUVQnP///+tewiuAAAAAnRSTlP/AOW3MEoAAAAYSURBVAjXY2BgZGRkAEIIAvOgLAYIkxEAAZEAFktafNEAAAAASUVORK5CYII=") no-repeat 0 0.636em;
  padding-left: 15px;
}
#breadcrumb a:focus,
#breadcrumb a:hover {
  color: #0162cd;
  text-decoration: underline;
}
/*33*//* -----------------------------------------------
   ASSISTIVE
   -----------------------------------------------*/
.skiplinks p {
  margin: 0;
}
.skiplinks a,
#search label,
.assistive {
  position: absolute;
  top: -100000px;
}
/*58*//* -----------------------------------
    Default Attention item  voor mobile
   ----------------------------------*/
@media (min-width: 22em) {
  #search input[type=submit] {
    padding: 4px 10px 4px 24px;
  }
  #skip-to-menu {
    padding: .25em 10px .25em 24px;
  }
}
/*59*//* -----------------------------------------------
   MEDIUM lAYOUT STEP ONE
   Tablet portrait
   Small laptops
   Big smartphones
   -----------------------------------------------*/
@media (min-width: 36em) {
  html,
  body {
    font-size: 12px;
  }
  #header {
    padding-top: 87px;
  }
  #logotype {
    top: 0;
  }
  #main {
    border-top: 10px solid #cce0f1;
  }
  #search {
    height: 3.6em;
  }
  #search form {
    margin-top: 0.8em;
  }
  #skip-to-menu {
    top: 88px;
    left: 10px;
    padding: .35em 10px .35em 24px;
  }
  .header {
    background: #cce0f1;
    background: -webkit-linear-gradient(top, #cce0f1 0%, #e5f0f9 100%);
    background: -o-linear-gradient(top, #cce0f1 0%, #e5f0f9 100%);
    background: -ms-linear-gradient(top, #cce0f1 0%, #e5f0f9 100%);
    background: linear-gradient(to bottom, #cce0f1 0%, #e5f0f9 100%);
  }
  /* -----------------------------------------------
       BLOCKS
       -----------------------------------------------*/
  .leaderboard {
    margin: 40px 0 0;
  }
  /* ---------------------
       GRID COLUMNS
       ------------------------*/
  .three-columns {
    margin-left: -20px;
    margin-right: 0;
  }
  #aside {
    /*margin-left: -10px;*/
  }
  #navigation li {
    display: block;
    width: 50%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  table {
    width: auto;
    margin: 0 0 20px -10px;
  }
  table td,
  table th {
    padding: 0.6em 5px 0.6em 5px;
    line-height: 1.5;
  }
  table td:first-child,
  table th:first-child {
    padding-left: 10px;
  }
  table th.col-wide {
    width: 40%;
  }
  table thead th + th,
  table tbody td + td,
  table tbody th + td {
    padding-left: 10px;
  }
  form table {
    margin-left: 0;
  }
  form fieldset table {
    margin-left: -20px;
  }
  /* --------------------------
    TABBED NAVIGATION
    -------------------------*/
  .tabs {
    margin-left: 0;
  }
  .tabs li {
    float: left;
    border-top: 0;
  }
  .tabs a {
    display: block;
    padding: 0.3em 10px;
    text-decoration: none;
    font-size: 1.15em;
  }
  .tabs .selected a,
  .tabs .selected a:hover,
  .tabs .selected a:visited:hover,
  .tabs .selected a:focus,
  .tabs .selected a:visited:focus {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
  }
  /* --------------------------
       FOOTER NAVIGATION
       -------------------------*/
  /* GRID */
  #footer {
    padding: 0 20px 20px;
  }
  #footer .column {
    clear: none;
    float: left;
    margin-left: 2.2727%;
    width: 31.8181%;
    display: block;
  }
  #footer .column h2,
  #footer .column ul {
    margin-left: 0px;
  }
  #footer .column:first-child {
    clear: both;
    float: left;
    margin-left: 0;
  }
  #footer .column li {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
/*60*//* -----------------------------------
   REGULAR LAYOUT
   Tablet landscape
   Small laptops
   Small canvases on desktop
   Font size drop
   -----------------------------------*/
@media (min-width: 50em) {
  caption {
    padding-left: 20px;
  }
  .header {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: -20px;
  }
  .article {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 0 20px;
    width: 66.7%;
    max-width: 640px;
    float: left;
    margin-top: 40px;
  }
  #mainbox {
    padding-bottom: 5em;
  }
  #main {
    padding: 0 20px 0 0;
  }
  #aside {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 0 20px;
    display: block;
    width: 25%;
    max-width: 240px;
    float: right;
    clear: right;
    margin: 40px 0 0 0;
  }
  #navigation {
    margin-top: 40px;
  }
  #search form {
    margin-right: 20px;
  }
  .leaderboard {
    padding: 0 0 0 20px;
  }
  #skip-to-menu {
    left: 20px;
  }
  /* --------------------------
       FOOTER NAVIGATION
       --------------------------*/
  #footer {
    padding: 0 20px 40px;
  }
  #footer .column {
    clear: none;
    float: left;
    margin-left: 1.6949%;
    width: 32.2033%;
    display: block;
  }
  #footer .column:first-child {
    clear: both;
    margin-left: 0;
  }
  #footer a {
    padding-left: 0;
    padding-right: 0;
  }
  #footer h2 {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0.33em;
    font-size: 1.5em;
  }
  #footer a,
  #footer a:visited {
    font-size: 1.083em;
  }
  #footer ul {
    padding: 0;
  }
  /* ---------------------------
       TABBED NAVIGATION
       ---------------------------*/
  .tabs li {
    margin-right: 10px;
  }
  .tabs a,
  .tabs strong {
    font-size: 1.25em;
  }
}
/*61*//* -----------------------------------------------
   SPECIAL CASES FOR MAIN NAVIGATION
   Dropdown up to wide canvas layout
   Gutter of 10px or 20px for tablet and up
   -----------------------------------------------*/
@media (max-width: 57.99em) {
  .js #navigation {
    width: 100%;
    max-width: none;
    margin: 0;
  }
  .js #navigation h2 {
    position: absolute;
    top: -100000px;
  }
  .js #navigation ul {
    background-color: #01689b;
    padding: 0 10px;
  }
  .js #navigation ul li {
    margin: 0;
  }
  .js #navigation.hide {
    height: 0;
    overflow: hidden;
  }
  .js #navigation a,
  .js #navigation a:visited {
    display: block;
    padding: 0.4em 10px 0.4em 0;
    border-top: 1px solid #0077aa;
    font-family: arial, helvetica, sans-serif;
    font-size: 1.1em;
    text-decoration: none;
    color: #cce0f1;
  }
  .js #navigation a:hover,
  .js #navigation a:active,
  .js #navigation .selected a {
    color: #ffffff;
  }
}
@media (min-width: 36em) and (max-width: 57.99em) {
  .js #navigation a {
    margin-left: 20px;
  }
}
@media (min-width: 50em) and (max-width: 57.99em) {
  .js #navigation ul {
    padding: 0 20px;
  }
}
/*62*//* -----------------------------------------------
  NAVIGATION POP IN
  Show normal main navigation if there's room
   -----------------------------------------------*/
@media (min-width: 58em) {
  #skip-to-menu {
    top: -10000px;
    text-transform: lowercase;
  }
  /* ---------------------------
       MAIN NAVIGATION
       ----------------------------*/
  #navigation {
    width: auto;
    max-width: 66em;
    height: 3.575em;
    position: absolute;
    top: 87px;
    margin: 0;
    background-color: transparent;
  }
  #navigation h2 {
    position: absolute;
    top: -100000px;
  }
  #navigation ul {
    margin: 1.5em 0 0 20px;
    background-color: transparent;
  }
  #navigation ul li {
    width: auto;
    float: left;
    margin: 0;
    border-bottom: 0;
  }
  #navigation a,
  #navigation a:visited {
    padding: 0.1em 10px;
    background-color: transparent;
    color: #ffffff;
    font-family: arial, helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
  }
  #navigation a:hover,
  #navigation a:active,
  #navigation .selected a,
  #navigation .selected a:visited {
    background-color: #cce0f1;
    color: #000000;
  }
}
/*-a*/.article {
  padding: 40px 0 0;
  margin: 0 10px 20px;
}
.article ul {
  clear: left;
  margin-bottom: 0.8em;
}
.article li {
  margin: 0.4em 0;
  padding-left: 30px;
  background: url("../images/sprite-bullet.png") no-repeat 10px 0.8em;
}
.article ol {
  list-style-type: decimal;
}
.article ol li {
  list-style-type: decimal;
  margin-left: 30px;
  padding-left: 0;
  background: none;
}
