/* ------------------------------------------------
   VARIABLES
   ----------------------------------------------- */
/* -----------------------------------------------
     Restart
     -----------------------------------------------*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ul,
ol,
li,
table,
tr,
th,
td,
form,
fieldset,
legend,
button,
div,
object,
img {
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.8;
  text-align: left;
  vertical-align: top;
}
input,
select,
textarea,
button {
  padding: 0.4em 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.8;
  background-color: #ffffff;
}
/* -----------------------------------------------
	 MAIN TYPOGRAPHY
	 -----------------------------------------------*/
html,
body {
  font-size: 14px;
  line-height: 1.8;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
@media only screen and (min-width: 36em) {
  html,
  body {
    font-size: 12px;
  }
}
h1,
h2,
h3 {
  font-family: Arial, HelveticaNeue, Helvetica, Univers, sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 1em;
  padding-bottom: 1px;
}
h2 {
  margin: 2em 0 0.2em;
  font-size: 1.25em;
  line-height: 1.5;
}
p {
  margin-bottom: 1.2em;
}
pre {
  overflow: auto;
}
em {
  font-style: normal;
}
sub,
sup {
  font-size: 0.83333em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.l-container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;
  display: block;
}
@media only screen and (min-width: 22em) {
  .three-column {
    margin-left: -20px;
    margin-right: 0;
  }
}
@media only screen and (min-width: 36em) {
  .three-column .column {
    clear: none;
    float: left;
    margin-left: 2.2727%;
    width: 31.8181%;
    display: block;
  }
  .three-column .column:first-child {
    clear: both;
    float: left;
    margin-left: 0;
  }
}
@media only screen and (min-width: 50em) {
  .three-column .column {
    clear: none;
    float: left;
    margin-left: 1.6949%;
    width: 32.2033%;
    display: block;
  }
  .three-column .column:first-child {
    clear: both;
    margin-left: 0;
  }
}
body {
  border-top: 3px solid #4e4e4e;
  background-color: #f3f5f6;
}
.content {
  position: relative;
  padding-bottom: 60px;
  border-bottom: 3px solid #4e4e4e;
  background-color: #ffffff;
}
@media only screen and (min-width: 50em) {
  .content {
    padding-bottom: 5em;
  }
}
.main {
  clear: both;
  border-top: 10px solid #e5f0f9;
}
@media only screen and (min-width: 36em) {
  .main {
    border-top: 10px solid #cce0f1;
  }
}
@media only screen and (min-width: 50em) {
  .main {
    padding: 0 20px 0 0;
  }
}
.search-wrapper {
  height: 3.1em;
  background-color: #01689b;
}
@media only screen and (min-width: 36em) {
  .search-wrapper {
    height: 3.6em;
  }
}
.article {
  padding: 40px 0 0;
  margin: 0 10px 20px;
}
@media only screen and (min-width: 50em) {
  .article {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 0 20px;
    width: 66.7%;
    max-width: 640px;
    float: left;
    margin-top: 40px;
  }
}
.article form {
  margin-left: -10px;
}
@media only screen and (min-width: 50em) {
  .article form {
    margin-left: -20px;
  }
}
@media only screen and (min-width: 50em) {
  .article form h2,
  .article form fieldset,
  .article form > p {
    padding-left: 20px;
    margin-left: 0;
  }
}
.article ul {
  clear: left;
  margin-bottom: 0.8em;
}
.article li {
  margin: 0.4em 0;
  padding-left: 30px;
  background: url('/assets/images/sprite-bullet.png') no-repeat 10px 0.8em;
}
.article ol {
  list-style-type: decimal;
}
.article ol li {
  list-style-type: decimal;
  margin-left: 30px;
  padding-left: 0;
  background: none;
}
.leaderboard {
  margin: 20px 0 0;
  padding: 0 10px;
}
@media only screen and (min-width: 36em) {
  .leaderboard {
    margin: 40px 0 0;
  }
}
@media only screen and (min-width: 50em) {
  .leaderboard {
    padding: 0 0 0 20px;
  }
}
.site-header {
  position: relative;
  padding-top: 76px;
  overflow: hidden;
}
@media only screen and (min-width: 36em) {
  .site-header {
    padding-top: 87px;
  }
}
.logo {
  position: absolute;
  left: 50%;
  top: -11px;
  margin-left: -22px;
}
@media only screen and (min-width: 36em) {
  .logo {
    top: 0;
  }
}
.section-header {
  background: #e5f0f9;
  padding: 5px 10px 0;
}
@media only screen and (min-width: 36em) {
  .section-header {
    background: #cce0f1;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#cce0f1), to(#e5f0f9));
    background-image: -webkit-linear-gradient(top, #cce0f1, 0%, #e5f0f9, 100%);
    background-image: -moz-linear-gradient(top, #cce0f1 0%, #e5f0f9 100%);
    background-image: linear-gradient(to bottom, #cce0f1 0%, #e5f0f9 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcce0f1', endColorstr='#ffe5f0f9', GradientType=0);
  }
}
@media only screen and (min-width: 50em) {
  .section-header {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: -20px;
  }
}
.topic-link {
  display: block;
  float: left;
  padding: 0.2em 0 0.6em;
  font: normal 1.833em/1.2 Arial, HelveticaNeue, Helvetica, Univers, sans-serif;
  text-decoration: none;
  color: #154273;
}
.topic-link:hover,
.topic-link:active {
  text-decoration: none;
}
.topic-link:hover span,
.topic-link:active span {
  color: #0162cd;
  text-decoration: underline;
}
.topic-link em {
  display: block;
  color: #4e4e4e;
  font-size: 0.818em;
  line-height: 1.8;
}
.skiplinks p {
  margin: 0;
}
.assistive {
  position: absolute;
  top: -100000px;
}
.form-search {
  max-width: 70%;
  position: relative;
  float: right;
  margin: 0.7em 10px 0;
  background-color: #ffffff;
}
@media only screen and (min-width: 36em) {
  .form-search {
    margin-top: 0.8em;
  }
}
@media only screen and (min-width: 50em) {
  .form-search {
    margin-right: 20px;
  }
}
.form-search input[type="search"] {
  display: block;
  width: 10em;
  float: left;
  margin: 0;
  border: 0;
  padding: 4px 0;
  background-color: transparent;
  color: #111122;
  font-size: 0.9em;
  line-height: 1.5;
}
fieldset {
  padding-left: 10px;
  background-color: #e5f0f9;
  overflow: hidden;
}
form .error {
  padding-bottom: 0;
}
form .message.error {
  padding-bottom: 5px;
}
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
button,
input[type="submit"],
.btn {
  display: block;
  width: auto;
  margin: 0;
  font-weight: normal;
  cursor: pointer;
  float: left;
  margin: 0 20px 0 0;
  padding: .4em 10px .6em;
  border: 0;
  background-color: #01689b;
  color: #ffffff;
  font-size: 1.083em;
  -webkit-appearance: button;
}
.btn:active {
  background-color: #ffffff;
}
input[type="submit"].btn-search {
  width: auto;
  float: left;
  padding: 4px 4px 4px 24px;
  margin: 0;
  color: #154273;
  font-size: 0.9em;
  line-height: 1.5;
  background: #cce0f1 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAAxQTFRFAWibmcPXOImx////cMSuLgAAAAR0Uk5T////AEAqqfQAAABB SURBVHjabI5JDgAwCAKx/P/PtaBdknIwGRcQZCAVXAIHpCEK9V3ZS4km+uRL9+br0gmedbqwPMrv ELH968spwABl+gExsfnwvAAAAABJRU5ErkJggg==") no-repeat 6px 50%;
}
@media only screen and (min-width: 22em) {
  input[type="submit"].btn-search {
    padding: 4px 10px 4px 24px;
  }
}
.btn-menu,
.btn-menu:visited {
  display: block;
  float: left;
  position: absolute;
  top: 76px;
  left: 10px;
  margin-top: 0.7em;
  padding: 0.25em 4px 0.25em 18px;
  text-decoration: none;
  background: #cce0f1 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAWib////rYYWUQAAAAJ0Uk5T/wDltzBKAAAAFUlEQVR42mJgwAoY4QCZSbFagAADAAkGACkXnxklAAAAAElFTkSuQmCC") no-repeat 6px 50%;
  color: #154273;
  font-size: 0.9em;
  line-height: 1.5;
  text-transform: capitalize;
  text-indent: 0;
}
@media only screen and (min-width: 22em) {
  .btn-menu,
  .btn-menu:visited {
    padding: .25em 10px .25em 24px;
  }
}
@media only screen and (min-width: 50em) {
  .btn-menu,
  .btn-menu:visited {
    left: 20px;
  }
}
@media only screen and (min-width: 58em) {
  .btn-menu,
  .btn-menu:visited {
    top: -10000px;
    text-transform: lowercase;
  }
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
select,
textarea {
  border: 1px solid #cce0f1;
  border-bottom: 2px solid #01689b;
}
select {
  padding: 0.33em 0;
  -webkit-border-radius: 0;
}
input[type="text"],
select {
  width: 100%;
}
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  left: 0;
  vertical-align: middle;
  padding: 0;
  border: 2px solid #e5f0f9;
}
input[type="checkbox"] {
  margin: 0.25em 0 0;
  -webkit-border-radius: 0;
}
input[type="radio"] {
  margin: 0.25em 0 0;
  color: #01689B;
  background-color: #e5f0f9;
}
.disabled + label {
  cursor: default;
  -moz-opacity: .4;
  -webkit-opacity: .4;
  opacity: .4;
}
.checklist,
.optionlist {
  padding: 1.2em 0 0.8em 10px;
  position: relative;
}
.checklist > div,
.optionlist > div {
  padding: 0;
  margin: 0;
  overflow: visible;
}
.checklist .hint,
.optionlist .hint {
  padding-left: 30px;
}
.checklist label,
.optionlist label {
  color: #154273;
  font-weight: bold;
}
.checklist div.field,
.optionlist div.field {
  padding: 0 60px 0 30px;
  overflow: visible;
}
.checklist input,
.optionlist input {
  position: absolute;
  left: 0;
  top: 0;
}
.checklist .subchecklist,
.optionlist .subchecklist {
  padding-left: 0;
}
.checklist .subchecklist div.field,
.optionlist .subchecklist div.field {
  padding-right: 0;
}
.checklist .subchecklist label,
.optionlist .subchecklist label {
  color: black;
  font-weight: normal;
}
.checklist + .navigation div,
.optionlist + .navigation div {
  padding-left: 0;
}
label.radio {
  padding-left: 30px;
  position: relative;
}
.inline-label {
  float: left;
}
.radio-subfields {
  margin: 0 0 0.8em 0;
}
.radio-subfields fieldset,
.radio-subfields .field {
  margin: 0 0 0.8em 0;
  padding: 0 10px 0.8em;
}
.article fieldset.radio-subfields {
  padding-left: 30px;
}
span.radio-subfields {
  padding: 0;
  float: none;
  display: inline;
}
span.radio-subfields label {
  position: static;
  padding-top: 0.8em;
  margin-top: 0;
}
label.choice {
  margin: 0 1em 0.8em 0;
  width: auto;
  float: left;
  padding-top: 0.25em;
  left: 0;
  top: 0;
  padding-left: 30px;
  position: relative;
}
label.choice input {
  left: 3px;
  top: 0px;
}
textarea {
  width: 100%;
  height: 6em;
  line-height: 1.5;
}
.breadcrumbs {
  margin: 0 0 0.4em;
  font-size: 0.9167em;
}
.breadcrumbs a {
  color: #154273;
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
  padding: 0;
  background: none;
}
.breadcrumbs a + a {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHCAMAAAAYuxziAAAABlBMVEUVQnP///+tewiuAAAAAnRSTlP/AOW3MEoAAAAYSURBVAjXY2BgZGRkAEIIAvOgLAYIkxEAAZEAFktafNEAAAAASUVORK5CYII=") no-repeat 0 0.636em;
  padding-left: 15px;
}
.breadcrumbs a:focus,
.breadcrumbs a:hover {
  color: #0162cd;
  text-decoration: underline;
}
.site-message {
  margin: 0 auto;
  max-width: 980px;
}
.message,
.site-message {
  padding: 30px 10px 5px;
  background-image: url('/assets/images/sprite-icons-messages.png');
  background-repeat: no-repeat;
  background-position: 10px 0;
}
.main-nav {
  clear: left;
  margin: 40px 10px 20px 10px;
}
.main-nav ul {
  background-color: #e5f0f9;
}
@media only screen and (min-width: 58em) {
  .main-nav ul {
    margin: 1.5em 0 0 20px;
    background-color: transparent;
  }
}
.main-nav li {
  margin: 0 0 2px -10px;
}
@media only screen and (min-width: 36em) {
  .main-nav li {
    display: block;
    width: 50%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 58em) {
  .main-nav li {
    width: auto;
    float: left;
    margin: 0;
    border-bottom: 0;
  }
}
.main-nav a,
.main-nav a:visited {
  display: block;
  padding: 0.4em 10px 0.4em 20px;
  font-family: arial, helvetica, sans-serif;
  font-size: 1.1em;
  text-decoration: none;
  color: #154273;
}
@media only screen and (min-width: 58em) {
  .main-nav a,
  .main-nav a:visited {
    padding: 0.1em 10px;
    background-color: transparent;
    color: #ffffff;
    font-family: arial, helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
  }
}
.main-nav a:hover,
.main-nav a:active {
  color: #0162cd;
}
@media only screen and (min-width: 58em) {
  .main-nav a:hover,
  .main-nav a:active {
    background-color: #cce0f1;
    color: #000000;
  }
}
.main-nav .selected a {
  color: #000000;
  font-weight: bold;
}
@media only screen and (min-width: 50em) {
  .main-nav {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 58em) {
  .main-nav {
    width: auto;
    max-width: 66em;
    height: 3.575em;
    position: absolute;
    top: 87px;
    margin: 0;
    background-color: transparent;
  }
  .main-nav h2 {
    position: absolute;
    top: -100000px;
  }
  .main-nav .selected a,
  .main-nav .selected a:visited {
    background-color: #cce0f1;
    color: #000000;
  }
}
@media only screen and (max-width: 57.99em) {
  .js .main-nav {
    width: 100%;
    max-width: none;
    margin: 0;
  }
  .js .main-nav h2 {
    position: absolute;
    top: -100000px;
  }
  .js .main-nav ul {
    background-color: #01689b;
    padding: 0 10px;
  }
  .js .main-nav ul li {
    margin: 0;
  }
  .js .main-nav.hide {
    height: 0;
    overflow: hidden;
  }
  .js .main-nav a,
  .js .main-nav a:visited {
    display: block;
    padding: 0.4em 10px 0.4em 0;
    border-top: 1px solid #0077aa;
    font-family: arial, helvetica, sans-serif;
    font-size: 1.1em;
    text-decoration: none;
    color: #cce0f1;
  }
  .js .main-nav a:hover,
  .js .main-nav a:active,
  .js .main-nav .selected a {
    color: #ffffff;
  }
}
@media only screen and (min-width: 36em) and (max-width: 57.99em) {
  .js .main-nav a {
    margin-left: 20px;
  }
}
@media only screen and (min-width: 50em) and (max-width: 57.99em) {
  .js .main-nav ul {
    padding: 0 20px;
  }
}
.tabs {
  clear: left;
}
@media only screen and (min-width: 36em) {
  .tabs {
    margin-left: 0;
  }
}
.tabs li {
  border-top: 1px solid #cce0f1;
}
@media only screen and (min-width: 36em) {
  .tabs li {
    float: left;
    border-top: 0;
  }
}
@media only screen and (min-width: 50em) {
  .tabs li {
    margin-right: 10px;
  }
}
.tabs a {
  display: block;
  padding: 0.4em 0;
  color: #154273;
  text-decoration: none;
  font-family: Arial, HelveticaNeue, Helvetica, sans-serif;
  font-size: 1.1em;
}
.tabs a:visited {
  color: #154273;
}
.tabs a:focus,
.tabs a:hover {
  color: #0162cd;
  text-decoration: underline;
}
@media only screen and (min-width: 36em) {
  .tabs a {
    display: block;
    padding: 0.3em 10px;
    text-decoration: none;
    font-size: 1.15em;
  }
}
.tabs .selected a {
  color: #000000;
  font-weight: bold;
}
@media only screen and (min-width: 36em) {
  .tabs .selected a,
  .tabs .selected a:hover,
  .tabs .selected a:visited:hover,
  .tabs .selected a:focus,
  .tabs .selected a:visited:focus {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
  }
}
@media only screen and (min-width: 50em) {
  .tabs a,
  .tabs strong {
    font-size: 1.25em;
  }
}
@media only screen and (min-width: 36em) {
  table {
    width: auto;
    margin: 0 0 20px -10px;
  }
  form table {
    margin-left: 0;
  }
  form fieldset table {
    margin-left: -20px;
  }
  td,
  th {
    padding: 0.6em 5px 0.6em 5px;
    line-height: 1.5;
  }
  td:first-child,
  th:first-child {
    padding-left: 10px;
  }
  th.col-wide {
    width: 40%;
  }
  thead th + th,
  tbody td + td,
  tbody th + td {
    padding-left: 10px;
  }
}
@media only screen and (min-width: 50em) {
  caption {
    padding-left: 20px;
  }
}
.site-footer {
  background-color: #eaebee;
  padding-bottom: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.site-footer:before {
  content: " ";
  display: block;
  width: 44px;
  height: 22px;
  position: absolute;
  top: -25px;
  left: 50%;
  z-index: 100;
  margin-left: -22px;
  background-color: #154273;
}
.site-footer h2 {
  margin: 0;
  padding: 1.44em 10px 0.5em;
  color: #4e4e4e;
  font-weight: normal;
  font-size: 1.25em;
  border-bottom: 1px solid #cccccc;
}
.site-footer ul {
  padding: 0 10px;
}
.site-footer li {
  display: block;
  float: left;
  margin: 0 20px 0 0;
  padding: 0;
}
.site-footer a,
.site-footer a:visited {
  display: block;
  padding: 0.2em 0 0.6em;
  color: #4e4e4e;
  font-size: 0.9167em;
  text-decoration: none;
}
.site-footer a:focus,
.site-footer a:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 36em) {
  .site-footer {
    padding: 0 20px 20px;
  }
  .site-footer h2,
  .site-footer ul {
    margin-left: 0px;
  }
  .site-footer li {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 50em) {
  .site-footer {
    padding: 0 20px 40px;
  }
  .site-footer a {
    padding-left: 0;
    padding-right: 0;
  }
  .site-footer a,
  .site-footer a:visited {
    font-size: 1.083em;
  }
  .site-footer h2 {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0.33em;
    font-size: 1.5em;
  }
  .site-footer ul {
    padding: 0;
  }
}
.aside {
  margin: 0 10px;
}
@media only screen and (min-width: 50em) {
  .aside {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 0 20px;
    display: block;
    width: 25%;
    max-width: 240px;
    float: right;
    clear: right;
    margin: 40px 0 0 0;
  }
}
@media only screen and (min-width: 36em) {
  .aside .block {
    display: block;
    width: 50%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  .aside .block h2,
  .aside .block ul {
    margin-left: 20px;
  }
}
@media only screen and (min-width: 50em) {
  .aside .block {
    width: auto;
    float: none;
  }
  .aside .block h2,
  .aside .block ul {
    margin-left: 0;
  }
}
@media only screen and (min-width: 36em) {
  .aside .block:last-of-type:nth-of-type(2n+1) {
    width: 100%;
  }
}
.block {
  margin: 0 0 20px;
}
@media only screen and (min-width: 36em) {
  .block {
    margin: 0 0 40px;
  }
}
.block h2 {
  margin: 0 0 .8em;
  border-top: 3px solid #01689b;
  padding: .4em 0 0;
}
